<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings file="custom.config">
    <add key="Selenium-Headless" value="Yes" />
    <add key="Debug" value="No" />
    <add key="DbTimeout" value="#{TestDatabaseTimeout}#" />
    <add key="DbPollInterval" value="#{TestDatabasePollingInterval}#" />
    <add key="LogicAppWait" value="#{TestLogicAppWait}#" />
    <add key="iMIS-ConnectionString" value="#{ConnectionStrings.ImisConnection}#" />
    <add key="PublicAppUrl-PCIA" value="#{PublicAppUrl-PCIA}#" />
    <add key="MemberAppUrl-RequestAdditionalPrefixes" value="#{MemberAppUrl-RequestAdditionalPrefixes}#" />
    <add key="MemberAppUrl-DatahubSignup" value="#{MemberAppUrl-DatahubSignUp}#" />
    <add key="MemberAppUrl-UNSPSC" value="#{MemberAppUrl-UNSPSC}#" />
    <add key="MemberAppUrl-Renewal" value="#{MemberAppUrl-Renewal}#" />
    <add key="PayPal-Username" value="#{PayPal-Username}#" />
    <add key="PayPal-Password" value="#{PayPal-Password}#" />
    <add key="TestAccount-Email" value="#{TestAccount-Email}#" />
    <add key="TestAccount-EmailPassword" value="#{TestAccount-EmailPassword}#" />
    <add key="TestAccount-PortalPassword" value="#{TestAccount-PortalPassword}#" />
    <add key="TestAccount-CompanyName" value="#{TestAccount-CompanyName}#" />
    <add key="TestAccount-ImapHost" value="#{TestAccount-ImapHost}#" />
    <add key="TestAccount-ImapPort" value="#{TestAccount-ImapPort}#" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.0" newVersion="1.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun" /> 
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow></configuration>